/*start style*/
body {
    color:#646D70;
    font-family: Rubik;
    font-size: 0.875rem;
}
.wrapper{
    min-height: 100%;
    overflow: clip;

    display: flex;
    flex-direction: column;
}
/*all style*/
.page{
    flex: 1 1 auto;
}
/*.page__main {
}*/
.page__materials {
    margin: 0;
}
.page__innovatie {
    background-color: #222F33;
    padding: 4.5rem 0 5.0625rem;
}
.page__info {
    padding:5.3125rem  0;
}
@media(max-width:740px){
    .page__innovatie {
        margin-top: 40px;
    }
}
/*seatings adaptive*/
[class*="__container"]{
    max-width: 840px;
    padding: 0 15px;

    margin: 0 auto;
}
/*moduls*/
.title{
    color: #fff;
    font-family: Merriweather;
    font-size: 1.875rem;
}
.title--dark{
    color: #222f33;
}
/*main style*/

/*header*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: none;
    transition: all .3s;
}
.header.scroll{
    background-color: #222F33;
    opacity: .9;
}
.header__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.25rem;
    align-items: center;
    min-height: 6.5625rem;
    padding: 0.3125rem 15px;
}
.header__body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 1rem;
    column-gap: 2.6875rem;
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 2.5rem;
}
.menu__link {
    align-items: center;
    
    color: #FFF;
    text-align: center;
    font-family: Rubik;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.menu__link:hover{
    text-decoration: underline;
}

.header__btn {
    padding: 10px 21px;
    border-radius: 4px;
    background-color: #FFF;

    color: #606B74;
    text-align: center;
    transition: all .3s;

    /* Label / Medium */
    font-family: Rubik;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.header__btn:hover{
    background-color: #000;
    color: white;
}

/*main*/

.main-section {
    min-height: 100vh;
    position: relative;
    display: flex;  
}
.main-section__container {
    padding-top: 5.375rem;
    padding-bottom: 1.875rem;
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: 50.320988% 1fr;
    align-items: center;
}
.main-section__label {
    margin-bottom: 0.75rem;

    color: #FFF;

    /* Label / Bold */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.main-section__video-link {
    justify-self: center;

    color: #FFF;

    /* Label / Medium */
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    justify-self: center;
    display: flex;
    align-items: center;
    gap: 10px;

    transition: all .3s;
}
.main-section__video-link::before{
    content: '';
    height: 32px;
    width: 32px;
    flex: 0 0 32px;
    border-radius: 50%;
    background: url('../img/main/BTN\ Play.svg') left no-repeat;
}
.main-section__video-link:hover{
    color: #606B74;
}
@media(max-width:43.75rem){
    .main-section__container {
        grid-template-columns: 60% 1fr;
    }
}
@media(max-width:31.25rem){
    .main-section__container {
        grid-template-columns: auto;
        align-content: center;
        gap: 40px;
    }
}
.main-section__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
    background-color: #000;
}
.main-section__image img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
@media(max-width:43.75rem){
    .main-section__image img{
        opacity: .6;
    }
}
/*materials*/
.materials{
    position: relative;
    z-index: 2;
}
.materials::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #222F33;
    height: 100px;
    width: 38.3%; /* 383px/1000 */
}
.materials::before {
    content: '';
    position: absolute;
    top: -36px;
    left: 0;
    background-color: #fff;
    height: 38px;
    width: 61.7%; /* 383px/1000 */
}
.materials__container {
    display: grid;
    grid-template-columns: 50% auto;
    grid: 1.25rem;
}
.materials__title {
    margin-bottom: 0.8125rem;
}
.materials__text {
    color: #646D70;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 185.714% */

    margin-bottom: 0.8125rem;
}
.materials__more {
    color:  #646D70;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
    background-color: #fff;

    padding: 10px 15px;
    border-radius: 4px;
    border: 1px solid var(--greys-light-grey, #646D70);
    transition: all .3s;
}
.materials__more:hover{
    background-color: #646D70;
    color: #FFF;
}
.materials__slider {
    position: relative;
    margin: 0;
    max-width: 325px;
    justify-self: end;
}
.slider-materials {
    transform: translate(0,-20.765027%); /* 76/366 */
    position: relative;
    z-index: 12;
}
.slider-materials__slide {
    aspect-ratio: 325 / 366;
}
.slider-materials__slide img{
    height: 366px;
    width: 325px;
    object-fit: cover;
    position: relative;
    z-index: 12;
    opacity: 1;
    background-color: #FFF;
}
.slider-materials__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: .5rem;
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 100%;
}
.slider-materials__pagination .swiper-pagination-bullet{
    flex: 0 0 0.5rem;
    height: 0.5rem;
    background-color: #FFF;
    border-radius: 50%;
    opacity: .4;
    transition: opacity .3s;

    cursor: pointer;
}
.slider-materials__pagination .swiper-pagination-bullet-active{
    opacity: 1;
}
/*mobile/laptop for materials*/
@media(max-width:740px){
    .materials__slider {
        max-width: 225px;
    }
    .slider-materials__slide {
        aspect-ratio: 225 / 266;
    }
    .slider-materials__slide img{
        height: 266px;
        width: 225px;
    }
    .materials::after {
        height: 0;
        width: 0;
    }
    .materials::before {
        width: 85%;
    }
}
@media(max-width:500px){
    .materials__container {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .materials__slider {
        max-width: 100%;
    }
    .slider-materials__slide {
        aspect-ratio: 100% / auto;
    }
    .slider-materials__slide img{
        height: 100%;
        width: 100%;
    }
    .materials::before {
        width: 0%;
    }
    .slider-materials {
        transform: translate(0,0); /* 76/366 */
        margin: 20px 0;
    }
}
/*swiper*/
.swiper{
    overflow: hidden;
    cursor: pointer;
}
.swiper-initialized{
    touch-action: pan-y;
}
.swiper-wrapper{
    display: flex;
    box-sizing: content-box;
}
.swiper-slide{
    flex-shrink: 0;
}
/*innovatie*/
.innovatie__title {
    margin-bottom: 0.5rem;
}
.innovatie__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.innovatie__content p{
    width: 47%;

    color: var(--greys-white, #FFF);

    /* Paragraph / Large */
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    opacity: 0.7;
}
/*mobile/laptop for innovatie*/
@media(max-width:600px){
    .innovatie__content p{
        width: 100%;
        margin-bottom: 30px;
    }
    .innovatie__content p:last-child{
        margin-bottom: 0;
    }
}
/*info*/
.info__section {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 75px;
    row-gap: 20px;
}
.info__img img{
    max-width: 100%;
}
.info__content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 60px;
    row-gap: 37px;
}
.info__title{
    color: var(--color-dark-green, #222F33);
    
    /* Headers / H3 */
    font-family: Merriweather;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.info__title:not(:last-child) {
    margin-bottom: .25rem;
}
.info__text {
    /* Paragraph / Medium */
    font-family: Rubik;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 183.333% */
}
@media (max-width:840px) {
    .info__content{
        column-gap: 20px;
    }
    .info__section{
        column-gap: 25px;
    }
}
@media (max-width:767.98px) {
    .info__section{
        grid-template-columns: auto;
    }
    .info__content{
        order: 1;
    }
    .info__img{
        order: 2;
        margin-right: auto;
        margin-left: auto;
    } 
}
@media (max-width:360px){
    .info__content{
        grid-template-columns: auto;
    }
}
/*footer*/
.footer {
    background-color: #222F33;
    padding: 33px 0;
}
.footer__container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.footer__mail {
    display: flex;
    align-items: center;

    color: #FFF;

    /* Label / Medium */
    font-family: Rubik;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: .6;
}
.footer__mail:hover{
    text-decoration: underline;
}
    
.footer__logo {
    justify-self: center;
}
.footer__menu {
    display: flex;
    align-items: center;
    margin-left: auto;
    column-gap: 30px;
}
.menu-footer__link {
    color: #FFF;

    /* Label / Medium */
    font-family: Rubik;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: .6;
}
.menu-footer__link:hover{
    text-decoration: underline;
}
@media (max-width:600px) {
    .footer__container {
        grid-template-columns: auto;
        justify-content: center;
        text-align: center;
        row-gap: 20px;
    }
    .footer__mail {
         margin: 0 auto;
    }
}